<div *ngIf="animesSelected.length > 0" class="myanime">
    <div *ngFor="let anime of animesSelected" class="anime">
        <img [src]="anime.imagen">
        <h3>{{anime.title}}</h3>
        <div class="flex-1"></div>
        <span class="episodes">{{anime.watchedEpisodes}} / {{anime.totalEpisodes}}</span>
        <button class="button"  *ngIf="anime.watchedEpisodes>0" (click)="decrease(anime)">-</button>
        <button class="button" *ngIf="anime.watchedEpisodes!==anime.totalEpisodes" (click)="increase(anime)">+</button>
        
    </div>
</div>